<%= render 'shared/navbarService' %>
<main class="orders-main-container" onload="loadcode()">
  <div class="orders-section">
    <div class="head-orders">
      <div class="logo-head-orders">
        <%=image_tag("1.png")%>
      </div>
        <div class="dropdown">
          <%= form_tag @orders_path, method: :get, id: "table-filter" do %>
            <%= select_tag :tables_id, options_for_select(Order.order([:tables_id]).pluck(:tables_id).uniq), prompt: "Tables",class:"dropbtn" ,onchange: "document.getElementById('table-filter').submit();" %>
          <% end %>
        </div>
        <div>
          <%= link_to "Show all", @orders_path, class:"show-all"%>
        </div>
      </div>
    <article class="orders-close-open-container">
        <div class="open-orders-container">
          <div class="open-orders">
            <div class="header-open-orders">
              <h2>Open orders</h2>
            </div>
            <ul class="open-order-list" >
                <li>
                  <h3 class="order-batch">
                    Order ID:
                  </h3>
                  <h3 class="time-order">
                    Time:
                  </h3>
                  <h3 class="status-order">
                    Status:
                  </h3>
                </li>
            <% @orders.order([:created_at ]).each do |order| %>
                <li>
                  <h3 class="order-batch">
                    Order ID:
                    <p><%= order.id %></p>
                  </h3>
                  <h3 class="time-order">
                    <%= order.created_at.strftime("%H:%M:%S")   %>
                  </h3>
                  <h3 class="status-order">
                    <%= order.status   %>
                  </h3>
                </li>
            <%end%>
            </ul>
          </div>
        </div>

        <div class="closed-orders-container">
          <div class="closed-orders">
            <div class="header-closed-orders">
              <h2>Closed orders</h2>
            </div>
            <ul class="closed-order-list" placeholder="Empty">
              <li>
                <h3 class="closed-order-batch">
                  Order ID:
                </h3>
                <div class="time-check">
                  <h3 class="closed-time-order">
                    Time:
                  </h3>
                </div>
                <h3 class="price-order-closed">
                  Total:
                </h3>
              </li>
            </ul>
          </div>

          <div class="buttons-closed-orders">
            <div class="buttons-section">
              <div class="total-billed">
                <span
                      >Total:
                  <p><%= @orders.sum(:total) %></p>
                  <p>$</p>
                </span
                    >
              </div>
            </div>
          </div>
        </div>
    </article>

  </div>
  <div class="order-container-open">
    <div class="logo-list-container-open">
      <%=image_tag("receipt_long_black_48dp.svg")%>
    </div>
    <div class="list-headers-open">
      <div class="table-order-container-open">
        <span
              >Table:
          <p>1</p>
        </span
            >
        <span class="order-ticket-open"
              >Order:
          <p>102938</p>
        </span
            >
      </div>
      <div class="status-container-open">
        <span
              >Status:
          <p>Open</p>
        </span
            >
      </div>
    </div>
    <div class="order-list-open">
      <ul class="list-open">
        <li class="item-open">
          <div class="list-icon-open">
            <%=image_tag("lunch_dining_black_24dp.svg")%>
            <p>Wine</p>
          </div>
          <div class="list-price-open">
            <p>3890<span>$</span></p>
            <button>
              <%=image_tag("delete_white_24dp.svg")%>
            </button>
          </div>
        </li>
      </ul>
      <div class="total-list-order-open">
        <span
              >Total items:
          <p>1</p>
        </span
            >
        <span
              >Total:
          <p>102938</p>
          <p>$</p>
        </span
            >
      </div>
    </div>
    <div class="order-buttons-container-open">
      <button class="send-to-kitchen">Add new item</button>
      <button class="cancel-order">Check out order</button>
    </div>
  </div>
</main>
