<%= render 'shared/navbarService' %>
<main class="orders-main-container" onload="loadcode()">
  <div class="orders-section">
    <div class="head-orders">
      <div class="logo-head-orders">
        <%=image_tag("1.png")%>
      </div>
        <div class="dropdown">
          <%= form_tag @orders_path, method: :get, id: "table-filter" do %>
            <%= select_tag :tables_id, options_for_select(Order.order([:tables_id]).pluck(:tables_id).uniq), prompt: "Tables",class:"dropbtn" ,onchange: "document.getElementById('table-filter').submit();" %>
          <% end %>
        </div>
        <div>
          <%= link_to "Show all", @orders_path, class:"show-all"%>
        </div>
      </div>
    <article class="orders-close-open-container">
        <div class="open-orders-container">
          <div class="open-orders">
            <div class="header-open-orders">
              <h2>Open orders</h2>
            </div>
            <ul class="open-order-list" >
                <li>
                  <h3 class="order-batch">
                    Order ID:
                  </h3>
                  <h3 class="time-order">
                    Time:
                  </h3>
                  <h3 class="status-order">
                    Show:
                  </h3>  
                </li>
            <% @orders.order([:created_at ]).zip(@orderitems).each do |order, item| %>
            <% if order.status != "paid"%>
                <li>
                  <h3 class="order-batch">
                    Order ID:
                    <p><%= order.id %></p>
                  </h3>
                  <h3 class="time-order">
                    <%= order.created_at.strftime("%H:%M:%S")   %>
                  </h3>
                  <h3 class="status-order">
                    <%= form_tag(close_and_open_index_path, method: :get) do %>
                      <%= hidden_field_tag :order_id, order.id %>
                      <%= hidden_field_tag :order_status, order.status %>
                      <%= hidden_field_tag :order_tables_id, order.tables_id %>
                      <%= hidden_field_tag :order_total, order.total %>
                      <%= hidden_field_tag :orderitems_quantity, item.quantity %>
                      <%= submit_tag 'Show Order', class: "show-order-button"%>
                    <% end %>

                  </h3>
                </li>
            <%end%>    
            <%end%>
            </ul>
          </div>
        </div>

        <div class="closed-orders-container">
          <div class="closed-orders">
            <div class="header-closed-orders">
              <h2>Closed orders</h2>
            </div>
            <ul class="closed-order-list" placeholder="Empty">
              <li>
                <h3 class="closed-order-batch">
                  Order ID:
                </h3>
                <div class="time-check">
                  <h3 class="closed-time-order">
                    Time:
                  </h3>
                </div>
                <h3 class="status-order">
                  Status:
                <h3>
                <h3 class="price-order-closed">
                  Total:
                </h3>
              </li>
                <% @orders.order([:created_at ]).each do |order| %>
                <% if order.status == "paid"%>
                <li>
                  <h3 class="closed-order-batch">
                    Order ID:
                    <p><%= order.id %></p>
                  </h3>
                  <div class="time-check">
                    <h3 class="closed-time-order">
                      <%= order.created_at.strftime("%H:%M:%S") %>
                    </h3>
                  </div>
                  <h3 class="status-order">
                      <%= order.status%>
                  <h3>
                  <h3 class="price-order-closed">
                  <p>$</p>
                      <%= order.total   %>
                    
                  </h3>
                </li>
                <% end %>
                <% end %>
            </ul>
          </div>
          <div class="buttons-closed-orders">
            <div class="buttons-section">
              <div class="total-billed">
                <span
                      >Total:
                    <p><p>$</p><%= @total_val %></p>
                </span
                    >
              </div>
            </div>
          </div>
        </div>
    </article>

  </div>
  <div class="order-container-open">
    <div class="logo-list-container-open">
      <%=image_tag("receipt_long_black_48dp.svg")%>
    </div>
    <div class="list-headers-open">
      <div class="table-order-container-open">
        <span
              >Table:
          <p> <%= @tables %> </p>
        </span
            >
        <span class="order-ticket-open"
              >Order:
          <p> <%= @order %> </p>
        </span
            >
      </div>
      <div class="status-container-open">
        <span
              >Status:
          <p> <%= @status %> </p>
        </span
            >
      </div>
    </div>
    <div class="order-list-open">
      <% if @order_Items.present? %>
        <ul class="list-open">
          <% @order_Items.each do |item| %>
            <li class="item-open">
              <div class="list-icon-open">
                <% category_item = Item.where(id: item.items_id).pluck(:category).first %>
                <% if category_item == "Food" %>
                  <span> <%=image_tag("lunch_dining_black_24dp.svg", :class => "icon_category")%></span>
                <% elsif category_item == "Dessert" %>
                  <span> <%=image_tag("cake_black_24dp.svg", :class => "icon_category")%></span>
                <% elsif category_item == "Drink" %>
                  <span> <%=image_tag("local_cafe_black_24dp.svg", :class => "icon_category")%></span>
                <% end %>
              </div>
              <div class="list-icon-open">
                <% name_item = Item.where(id: item.items_id).pluck(:name).first %>
                <p><%= name_item %></p>
              </div>
              <div class="list-price-open">
                <%# <button>
                  <%= image_tag("delete_white_24dp.svg") %>
                <%# </button> %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="list-open">
            <li class="item-open">
              <div class="list-icon-open">
              </div>
              <div class="list-price-open">
              </div>
            </li>
        </ul>
      <% end %>
      <div class="total-list-order-open">
        <span
              >Total items:
          <p><%= @quantity %></p>
        </span
            >
        <span
              >Total:
          <p><p>$</p><%= @total %></p>

        </span
            >
      </div>
    </div>
    <div class="order-buttons-container-open">
    <% if @order == "SELECT"%>
      <%= form_tag orders_path, method: 'get' do %>
        <%= button_tag 'Add new item', value: @order, type: :submit, name: :order, :disabled => true, class: "disabled-button" %>
      <% end %>
      <%= button_to "check out", update_status_close_and_open_path(@order),method: :patch, :disabled => true, class: "disabled-button" %>
    <% else %>
      <%= form_tag orders_path, method: 'get' do %>
        <%= button_tag 'Add new item', value: @order, type: :submit, name: :order %>
      <% end %>
      <%= button_to "check out", update_status_close_and_open_path(@order),method: :patch %>
    <% end %>
    </div>
  </div>
</main>
