<%= render 'shared/navbarAdmin' %>
<main class="service-main-container">
  <div class="cards-section">
    <div class="head-cards">
      <div class="search-input">
        <%# <%= form_tag @products_path, class: 'search-form', method: :get do%>
          <%# <%= text_field_tag :name, params[:name],class: 'input-menu', placeholder: "  Search by name..." %>
          <div class="submit-button">
            <%# <%=image_submit_tag("search_black_24dp.svg")%>
          </div>
          <%# <% end %>
        </div>
        <div class="dropdown">
        </div>
        <div class="dropdown">
        </div>
      </div>
      <article class="planner-container">
        <div class="main-planner-container">
          <table class="planner-table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Planned Qty</th>
                <th>Date Planned</th>
                <th>Sold Qty</th>
                <th>Qty Available</th>
                <th>Sales Value</th>
                <th>Sales Earned</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Appetizer</td>
                <td>Bruschetta</td>
                <td>50</td>
                <td>2023-04-01</td>
                <td>35</td>
                <td>15</td>
                <td>350</td>
                <td>245</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Main Course</td>
                <td>Pesto Pasta</td>
                <td>40</td>
                <td>2023-04-03</td>
                <td>20</td>
                <td>20</td>
                <td>400</td>
                <td>200</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Side Dish</td>
                <td>Garlic Bread</td>
                <td>30</td>
                <td>2023-04-05</td>
                <td>10</td>
                <td>20</td>
                <td>150</td>
                <td>50</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Dessert</td>
                <td>Chocolate Cake</td>
                <td>20</td>
                <td>2023-04-08</td>
                <td>5</td>
                <td>15</td>
                <td>200</td>
                <td>50</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Drink</td>
                <td>Mojito</td>
                <td>25</td>
                <td>2023-04-10</td>
                <td>15</td>
                <td>10</td>
                <td>250</td>
                <td>150</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="second-planner-container">
          <table class= "late-planner-table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Planned Qty</th>
                <th>Date Planned</th>
                <th>Sold Qty</th>
                <th>Qty Available</th>
                <th>Sales Value</th>
                <th>Sales Earned</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Appetizer</td>
                <td>Bruschetta</td>
                <td>50</td>
                <td>2023-04-01</td>
                <td>35</td>
                <td>15</td>
                <td>350</td>
                <td>245</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Main Course</td>
                <td>Pesto Pasta</td>
                <td>40</td>
                <td>2023-04-03</td>
                <td>20</td>
                <td>20</td>
                <td>400</td>
                <td>200</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Side Dish</td>
                <td>Garlic Bread</td>
                <td>30</td>
                <td>2023-04-05</td>
                <td>10</td>
                <td>20</td>
                <td>150</td>
                <td>50</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Dessert</td>
                <td>Chocolate Cake</td>
                <td>20</td>
                <td>2023-04-08</td>
                <td>5</td>
                <td>15</td>
                <td>200</td>
                <td>50</td>
                <td>Available</td>
                <td><button>edit</button></td>
              </tr>
              <tr>
                <td>Drink</td>
                <td>Mojito</td>
                <td>25</td>
                <td>2023-04-10</td>
                <td>15</td>
                <td>10</td>
                <td>250</td>
                <td>150</td>
                <td>Available</td>
                <td><button><button>edit</button></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
    <div class="order-container">
      <div class="logo-list-container">
        <%=image_tag("receipt_long_black_48dp.svg")%>
      </div>
      <div class="list-headers">
        <div class="table-order-container">
          <span class="order-ticket">Order:
            <p></p>
          </span>
        </div>
      </div>
      <div class="order-list">
        <ul class="list">
        </ul>
        <div class="total-list-order">
          <span>Total items:
            <p class="total-items">0</p>
          </span>
          <span>Total:
            <p>$</p>
            <p class="total-price">0</p>
          </span>
        </div>
      </div>
      <div class="order-buttons-container">
        <label for="notes">Notes:</label>
        <textarea class="note-order" rows="3" cols="30" ></textarea>
        <input type="hidden" name="selected_table_id" id="selected_table_id" value="">
        <button class="send-to-kitchen">Send order to kitchen</button>
        <button class="cancel-order">Cancel order</button>
      </div>
    </div>
  </main>
