<%= render 'shared/navbarAdmin' %>
<main class="service-main-container">
  <div class="cards-section">
    <div class="head-cards">
      <div class="search-input">
        <div class="submit-button">
          <h3>Search...</h3>
        </div>
      </div>
      <div class="dropdown">
      </div>
      <div class="dropdown">
      </div>
    </div>
    <article class="planner-container">
      <div class="main-planner-container">
        <table class="planner-table">
          <thead>
            <tr >
              <th>Category</th>
              <th>Name</th>
              <th>Qty Available</th>
              <th>Qty recomended</th>
              <th>Sold Qty</th>
              <th>Qty Available</th>
              <th>Sales Value</th>
              <th>Sales Earned</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr class="items-row">
                <td class="items-planner-image"><%=image_tag item.image%></td>
                <td class="items-planner-price"><%= item.price %></td>
                <td class="items-planner-category"><%= item.category %></td>
                <td class="items-planner-name" ><%= item.name %></td>
                <td class="items-planner-description" ><%= item.description %></td>
                <td>50</td>
                <td>50</td>
                <td>35</td>
                <td>15</td>
                <td>350</td>
                <td>503</td>
                <td>
                  <div class="status-inactive" >Inactive</div>
                </td>
                <td><button class= "button-planner-edit"><%=image_tag("edit-planner.svg")%></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </article>
  </div>
  <div class="item-planner-container">
    <div class="item-planner-image-container">
      <%=image_tag("pexels-jonathan-borba-2983101.jpg")%>
    </div>
    <div class="item-name-footer">
      <h3 class= "planner-item-name"> -- </h3>
      <div class="status-planner-edit">
        <h3>Status: </h3>
        <div class="status-lamp">
          <p>Good</p>
        </div>
      </div>
    </div>
    <div class="planner-edit-info">
      <div class="item-info-container">
        <h3>Category:</h3>
        <div class="item-info-label">
          <p class= "planner-item-category">Food</p>
          <span><%=image_tag("lunch_dining_black_24dp.svg")%></span>
        </div>
        <h3>Price:</h3>
        <div class="item-info-label">
          <p class= "planner-item-price">--</p>
          <span>$</span>
        </div>
        <h3>Description:</h3>
        <div class="item-info-description">
        </div>
        <h3>Recipe:</h3>
        <div class="item-info-recipe">
          <table class="planner-recipe-table">
            <thead>
              <tr >
                <th>Ingredient</th>
                <th>Qty</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="items-row">
                <td>Tomatto</td>
                <td>350</td>
                <td>
                  <div class="status-inactive" >Inactive</div>
                </td>
              </tr>
              <tr class="items-row">
                <td>Tomatto</td>
                <td>350</td>
                <td>
                  <div class="status-inactive" >Inactive</div>
                </td>
              </tr>
              <tr class="items-row">
                <td>Tomatto</td>
                <td>350</td>
                <td>
                  <div class="status-inactive" >Inactive</div>
                </td>
              </tr>
              <tr class="items-row">
                <td>Tomatto</td>
                <td>350</td>
                <td>
                  <div class="status-inactive" >Inactive</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="order-buttons-container">
        <button class="send-date">Update  <span><%=image_tag("refresh.svg")%></span></button>
        <button class="cacel-edit">Cancel  <span><%=image_tag("cancel.svg")%></span></button>
      </div>
    </div>
  </div>
</div>
</main>
<%=  javascript_include_tag 'planner' %>
