<div>
  <%=  javascript_include_tag 'navbarService' %>
  <div id="mySidenavService" class="navbar__container">
    <a class="navbar__close__btn" onclick="closeNav()">&times;</a>
    <%= image_tag("1.png", class:'navbar__logo')%>
    <div class='navbar__menu' >
      <%= link_to 'Kitchen', kitchen_index_path, class: 'navbar__menu__option'%>
      <%= link_to 'Service', orders_path, class: 'navbar__menu__option'%>
      <%= link_to 'Orders', close_and_open_index_path, class: 'navbar__menu__option'%>
    </div>
    <div class="flex-shrink-0">
      <div class='navbar__logout' >
        <%= link_to 'Home', root_path, class: "navbar__logout__option"%>
      </div>
    </div>
    <div id='mainService' class="navbar__container__closed" onclick="openNav()">
      <%= image_tag("1.png", class:'navbar__logo__closed', id:'logoService')%>
    </div>
  </div>
</div>
