<%= form_tag orders_path, method: :get do %>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <section id="mesas-seleccion" class="cardscontainer">
      <% @orders.each do |order| %>
        <% if @tables.present? %>
          <% @tables.select { |table| table.id == order.tables_id }.each do |table| %>
            <% if order.status == "wait" %>
              <div class="cards" data-mesa-id="<%= table.id %>">
                <span class="table-number">Table <%= table.id %></span>
                <span class="order-time"><%= order.created_at.strftime("%H:%M") %></span>
              </div>
            <% elsif order.status == "progress" %>
              <div class="cards cards-green" data-mesa-id="<%= table.id %>">
                <span class="table-number">Table <%= table.id %></span>
                <span class="order-time"><%= order.created_at.strftime("%H:%M") %></span>
              </div>
            <% elsif order.status == "done" %>
              <div class="cards cards-red" data-mesa-id="<%= table.id %>">
                <span class="table-number">Table <%= table.id %></span>
                <span class="order-time"><%= order.created_at.strftime("%H:%M") %></span>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>No hay mesas disponibles.</p>
        <% end %>
      <% end %>
      </section>
      <%= hidden_field_tag :selected_table_id %>
    </div>
  </div>

<% end %>

