<%= render 'shared/navbarService' %>
<main class="service-main-container">
  <div class="cards-section">
    <div class="head-cards">
      <div class="search-input">
        <%= form_tag @products_path, class: 'search-form', method: :get do%>
          <%= text_field_tag :name, params[:name],class: 'input-menu', placeholder: "  Search by name..." %>
          <div class="submit-button">
            <%=image_submit_tag("search_black_24dp.svg")%>
          </div>
        <% end %>
      </div>
      <div class="dropdown">
        <%= form_tag @products_path, method: :get, id: "category-filter" do %>
          <%= select_tag :category, options_for_select(Item.pluck(:category).uniq), prompt: "Categories", onchange: "document.getElementById('category-filter').submit();" %>
        <% end %>
        <button class="dropbtn">Categories <span><%=image_tag("expand_more_white_24dp.svg")%></span></button>
        <div class="dropdown-content">
          <a href="#">Food</a>
          <a href="#">Drinks</a>
          <a href="#">Desserts</a>
          <a href="#">Liquor</a>
          <a href="#">Entries</a>
        </div>
      </div>
    </div>
    <article class="cards-container">
      <% @products.each do |product| %>
        <div class="card">
          <section class="image-card-container">
            <% if product.image.attached? %>
              <%=image_tag product.image%>
            <% end %>
          </section>
          <section class="food-name">
            <h3><%= product.name %></h3>
          </section>
          <section class="food-description">
            <div class = "category-container">
              <div class="category-name">
                <% if product.category == "Food" %>
                  <span> <%=image_tag("lunch_dining_black_24dp.svg")%></span>
                <% elsif product.category == "Dessert" %>
                  <span> <%=image_tag("cake_black_24dp.svg")%></span>
                <% elsif product.category == "Drink" %>
                  <span> <%=image_tag("local_cafe_black_24dp.svg")%></span>
                <% end %>
                <p><%= product.category%></p>
              </div>
              <div class="price-card-container">
                <h3 class="price-title"><span>$</span><%= product.price %><span>.00</span></h3>
              </div>
            </div>
            <div class= "description-container">
              <p><%= product.description %></p>
            </div>
            <button class="button-add" > Add to Order</button>
          </section>
        </div>
      <% end %>
    </article>
  </div>
  <div class="order-container">
    <div class="logo-list-container">
      <%=image_tag("receipt_long_black_48dp.svg")%>
    </div>
    <div class="list-headers">
      <div class="table-order-container">
        <span>Table:
          <p>1</p>
        </span>
        <span class="order-ticket">Order:
          <p><%= @order + 1 %></p>
        </span>
      </div>
    </div>
    <div class="order-list">
      <ul class="list">
      </ul>
      <div class="total-list-order">
        <span>Total items:
          <p class="total-items">0</p>
        </span>
        <span>Total:
          <p>$</p>
          <p class="total-price">0</p>
        </span>
      </div>
    </div>
    <div class="order-buttons-container">
      <button class="send-to-kitchen">Send order to kitchen</button>
      <button class="cancel-order">Cancel order</button>
    </div>
  </div>
</main>
<%=  javascript_include_tag 'service' %>
