<%= render 'shared/navbarService' %>
<%=  javascript_include_tag 'service' %>
<main class="service-main-container">
  <div class="cards-section">
    <div class="head-cards">
      <div class="search-input">
        <%=image_tag("search_black_24dp.svg")%><input type="text" placeholder="Search...">
      </div>
      <div class="dropdown">
        <button class="dropbtn">Categories <span><%=image_tag("expand_more_white_24dp.svg")%></span></button>
        <div class="dropdown-content">
          <a href="#">Food</a>
          <a href="#">Drinks</a>
          <a href="#">Desserts</a>
          <a href="#">Liquor</a>
          <a href="#">Entries</a>
        </div>
      </div>
    </div>
    <article class="cards-container">
      <% @items.each do |item| %>
        <div class="card">
          <section class="image-card-container">
            <% if item.image.attached? %>
              <%=image_tag item.image%>
            <% end %>
          </section>
          <section class="food-name">
            <h3><%= item.name %></h3>
          </section>
          <section class="food-description">
            <div class = "category-container">
              <div class="category-name">
                <% if item.category == "Food" %>
                  <span> <%=image_tag("lunch_dining_black_24dp.svg")%></span>
                <% elsif item.category == "Dessert" %>
                  <span> <%=image_tag("cake_black_24dp.svg")%></span>
                <% elsif item.category == "Drink" %>
                  <span> <%=image_tag("local_cafe_black_24dp.svg")%></span>
                <% end %>
                <p><%= item.category%></p>
              </div>
              <div class="price-card-container">
                <h3 class="price-title"><span>$</span><%= item.price %><span>.00</span></h3>
              </div>
            </div>
            <div class= "description-container">
              <p><%= item.description %></p>
            </div>
            <button class="button-add" > Add to Order</button>
          </section>
        </div>
      <% end %>
    </article>
  </div>
  <div class="order-container">
    <div class="logo-list-container">
      <%=image_tag("receipt_long_black_48dp.svg")%>
    </div>
    <div class="list-headers">
      <div class="table-order-container">
        <span>Table:
          <p>1</p>
        </span>
        <span class="order-ticket">Order:
          <p>102938</p>
        </span>
      </div>
      <div class="status-container">
        <span>Status:
          <p>Open</p>
        </span>
      </div>
    </div>
    <div class="order-list">
      <ul class="list">
      </ul>
      <div class="total-list-order">
        <span>Total items:
          <p>1</p>
        </span>
        <span>Total:
          <p>102938</p>
          <p>$</p>
        </span>
      </div>
    </div>
    <div class="order-buttons-container">
      <button class="send-to-kitchen">Send order to kitchen</button>
      <button class="cancel-order">Cancel order</button>
    </div>
  </div>
</main>
