<%= render 'shared/navbarAdmin' %>
<div class="main-container">
  <div class="table-container">
    <div class="tittle-container">
      <h1>Tables</h1>
      <%= link_to new_item_path do %>
        <button>+ New item</button>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.category %></td>
            <td><%= image_tag item.image, class: "image-display" %></td>
            <td>
            <%= link_to edit_item_path(item) do%>
              <button class="edit-button">Edit</button>
            <% end %>

            <%= link_to item_path(item), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
              } do


            %>
              <button class="delete-button" >X</button>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
