<% (@ordersN.sort_by {|e| e.status}.reverse).group_by(&:order_id).each do |order_id, order_data| %>
  <div class='kitchen__order rotated' id='order-<%= order_id %>'>
  <%= image_tag 'cinta.png',class: 'cinta rotatedC', size: '120x120' %>
    <h5>Order: <%= order_id %></h5>

    <% order_data.each_with_index do |data, index| %>
      <div>
        <% if index == 0 %>
        <div class='kitchen__order__info'>
          <p><%= data.table %></p>
          <p>Status: <%= data.status %></p>
          <button class='kitchen__order__info__button' id='btn-more-info-<%= order_id %>'>More info</button>
        </div>
        <% end %>
        <div  class='kitchen__order__items'>
          <input type="checkbox" id="scales" name="scales" class='check'><label><%= data.item %> x<%= data.quantity %></label>
        </div>
      </div>
    <% end %>

    <div class='postit__note'>
      <p class='kitchen__order__notes'>Note: <%= order_data.first.note.truncate(80, omission: '...') %></p>
    </div>
    <div class='kitchen__order__button__container'>
      <%= button_to "Change",
        update_status_kitchen_path(order_id),
        class: "kitchen__order__button",
        method: :patch %>
    </div>
  </div>

  <div class='kitchen__popup__overlay' id='more-info-<%= order_id %>' style='display: none;'>
     <div class='kitchen__order kitchen__popup__card rotated' id='order-<%= order_id %>'>
    <button class='kitchen__order__info__button__close' id='btn-more-info-<%= order_id %>'>X</button>
    <%= image_tag 'cinta.png',class: 'cinta rotatedC', size: '120x120' %>
    <h5>Order: <%= order_id %></h5>

    <% order_data.each_with_index do |data, index| %>
      <div>
        <% if index == 0 %>
        <div class='kitchen__order__info'>
          <p><%= data.table %></p>
          <p>Status: <%= data.status %></p>
          <button class='kitchen__order__info__button' id='btn-more-info-<%= order_id %>'>More info</button>
        </div>
        <% end %>
        <div class='kitchen__order__items'>
          <label><%= data.item %> x<%= data.quantity %></label>
        </div>
      </div>
    <% end %>

    <div class='postit__note'>
      <p class='kitchen__order__notes'>Note: <%= order_data.first.note %></p>
    </div>

    <div class='kitchen__order__button__container'>
      <%= button_to "Change",
        update_status_kitchen_path(order_id),
        class: "kitchen__order__button",
        method: :patch %>
    </div>
  </div>
  </div>
<% end %>
