<div class='kitchen__main'>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
    <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
    <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
    <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
    <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
    <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
  <%= render 'cardorder' %>
</div>
