<%= render 'shared/navbarAdmin' %>
<div class="container">
  <div class="contenedor">
    <div class="seleccion">
      <div class="botones">
        <h1>Report Sales</h1>
        <%= form_tag reports_path, method: :get do %>
          <div class="btn-group" role="group" aria-label="Period">
            <%= button_tag "Today", type: :submit, name: "period", value: "1", class: "btn-date" %>
            <%= button_tag "Last 7 days", type: :submit, name: "period", value: "7", class: "btn-date" %>
            <%= button_tag "Last 14 days", type: :submit, name: "period", value: "14", class: "btn-date" %>
            <%= button_tag "Last month", type: :submit, name: "period", value: "30", class: "btn-date" %>
          </div>
        <% end %> 
      </div>
    </div>
    <div class="reports">
      <div class="scores">
        <%= content_tag :div, class: "#{@total > @previous_total ? 'tarjeta good' : 'tarjeta bad'}" do %>
          <%= content_tag :div, class: "#{@total > @previous_total ? 'tarjeta-estado-good' : 'tarjeta-estado-bad'}" do %>
          	<%= @total > @previous_total ? '↑' : '↓' %>
          <% end %>
          <div class="tarjeta-info">
            <h2>Total Sales</h2>
            <h1>$<%= @total %> </h1>
            <hr >
            <div class="tarjeta-prev">
              <h3>Previous <%= @days %> days</h3>
              <h3>$<%= @previous_total %></h3>
            </div>
          </div>
        <% end %>
        <%= content_tag :div, class: "#{@orders > @previous_orders ? 'tarjeta good' : 'tarjeta bad'}" do %>
          <%= content_tag :div, class: "#{@orders > @previous_orders ? 'tarjeta-estado-good' : 'tarjeta-estado-bad'}" do %>
            <%= @orders > @previous_orders ? '↑' : '↓' %>
          <% end %>
          <div class="tarjeta-info">
            <h2>Total Orders</h2>
            <h1><%= @orders %></h1>
            <hr >
            <div class="tarjeta-prev">
              <h3>Previous <%= @days %> days</h3>
              <h3><%= @previous_orders %></h3>
            </div>
          </div>
        <% end %>
        <%= content_tag :div, class: "#{@max_order > @previous_max_order ? 'tarjeta good' : 'tarjeta bad'}" do %>
          <%= content_tag :div, class: "#{@max_order > @previous_max_order ? 'tarjeta-estado-good' : 'tarjeta-estado-bad'}" do %>
          	<%= @max_order > @previous_max_order ? '↑' : '↓' %>
          <% end %>
          <div class="tarjeta-info">
            <h2>Max order</h2>
            <h1>$<%= @max_order %></h1>
            <hr >
            <div class="tarjeta-prev">
              <h3>Previous <%= @days %> days</h3>
              <h3>$<%= @previous_max_order %></h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grafica">
        <div class="grafica-chart">
          <h1>Total Sales By Day</h1>
          <%= line_chart [
            {name: "Current " + @days.to_s + " days", data: @data, color: "#a43131"},
            {name: "Past " + @days.to_s + " days", data: @previous_data, color: "#303030"}
            ], xtitle: "Day", ytitle: "Money", height: '250px', width: '580px', legend: "bottom" %>
        </div>
        <div class="table-container">
          <div class="tittle-main-modal">
            <h1>Orders</h1>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Table</th>
                <th>Date</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="modal-supply">
              <% @table_info_orders.each do |order| %>
                <tr class="order">
                  <td><%= order[:id] %></td>
                  <td><%= order[:tables_id] %></td>
                  <td><%= order[:created_at].strftime("%d-%m-%y %d:%m") %></td>
                  <td>$<%= order[:total] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="grafica">
        <div class="grafica-chart">
          <h1>Best sellers</h1>
          <%= pie_chart @sales, colors: ["#303030", "#913434", "#ffe2ab","#2c7873", "#fcbf49", "#e5c3d1", "#a8dadc", "#ff9f1c", "#d8f3dc", "#065a60"], height: '250px', width: '580px', legend: "bottom"%>
        </div>
        <div class="table-container">
          <div class="tittle-main-modal">
            <h1>Items</h1>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sales</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody class="modal-supply">
              <% @sales.each do |sale| %>
                <tr class="order">
                  <td><%= sale[2] %></td>
                  <td><%= sale[0] %></td>
                  <td><%= sale[1] %></td>
                  <td>$<%= sale[3] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
