<div class="container">
  <div class="scores">
    <div class = "tarjeta">
      <div class="tarjeta-titulo">
        Todays Money
        <%= @total %>
      </div>
    </div>
    <div class = "tarjeta">
      <div class="tarjeta-titulo">
        Orders Numbers
        <%= @orders %>
      </div>
    </div>
    <div class = "tarjeta">
      <div class="tarjeta-titulo">
        Best Seller
        <%= @max_order %>
      </div>
    </div>
  </div>

  <div class="reports">
    <div class="dias estilo">
      <%= form_tag reports_path, method: :get do %>
        <%= label_tag :start_date, "Fecha de inicio" %>
        <%= date_field_tag :start_date, nil %>
        <%= submit_tag "Generar reporte" %>
      <% end %>
    </div>
    <div class="grafica estilo">
      <%= line_chart @data %>
    </div>
  </div>
</div>
